<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    
      
    <div class="container my-5">

        <h2 style="color: #403f3f; text-align: center;"> Welcome user</h2>
         
    </div>

   
    <%- include('../partials/footer') %>
  </body>
</html>

